@media (min-width: 720px) {
    .h390px{
        display: none;
    }
    .h768px{
        display: inline;
    }
    .container{
        width: 615px;
    }

    .header{
        padding-top: 30px;
    }

    .header_up{
        font-size: 172px;
        margin-left: -9px;
    }

    .header_down{
        padding: 0;
        font-size: 54.069px;
        margin-bottom: 40px;
    }

    .header_desc{
        font-size: 30px;
    }

    .bottom_text-down{
        font-size: 113px;
        line-height: 82px;
        margin-bottom: 85px;
    }
    .bottom_text-up{
        font-size: 42px;
        margin-bottom: 10px;
    }
    .bottom-btn{
        font-size: 54.3px;
        padding: 23px 50px 16px 47px;
        border: 4px solid #65da0f;
    }
    .btn_img{
        transform: scale(1.7);
    }   
    .btn_img img{
        padding-bottom: 6px;
    }

    /* CALC START */
    .calc_title-top{
        font-size: 76px;
    }
    .calc_desc-top{
        font-size: 38px;
    }
    .calc_title{
        font-size: 68.5px;
        letter-spacing: 33px;
    }
    .calc_desc{
        font-size: 37.5px;
    }
    .calc_name{
        font-size: 36px;
        max-width: 247px;
        width: 100%;
        margin-right: 25px;
        padding: 10px 0 5px 0;
    }
    .calc_input[type="text"]{
        font-size: 39px;
    }
    .calc_input, .calc_name{
        border: 3.5px solid #65da0f;
    }
    .calc_input{
        padding: 10px 20px 5px 20px;
    }
    .calc_line{
        margin-bottom: 30px;
    }
    .calc_btn{
        font-size: 39px;
        padding: 14px 0 10px 0;
        letter-spacing: 4px;
    }
    .calc_inner{
        padding: 39px 0;
    }
    .calc{
        border: 3.5px solid #65da0f;
        padding: 38px 31px;
        margin: 35px 0;
    }
    .divider{
        height: 3px;
    }
    .calc_price-text{
        font-size: 23px;
        padding-bottom: 4px;
    }
    .calc_price-num{
        font-size: 44.5px;
    }
    .calc_price{
        margin-top: 18px;
    }
    .info-text{
        font-size: 21.8px;
    }
    .small-btn{
        margin-top: 30px;
        font-size: 36px;
        letter-spacing: 15px;
        padding: 18px 60px 16px 57px;
    }
    .btn_img{
        transform: scale(1.3);
    }
    .btn_img img{
        padding-bottom: 0;
    }
    /* CALC END */

    .more_info-title{
        font-size: 75px;
        margin-bottom: 60px;
    }
    .question_name{
        font-size: 38.5px;
        margin-bottom: 30px;
    }
    .question_desc{
        font-size: 32.4px;
    }
    .question{
        margin-bottom: 70px;
    }
}   

@media (min-width: 1024px) {
    .container{
        width: 1024px;
    }
    .h390px, .h768px{
        display: none;
    }

    .h1024px{
        display: inline;
    }

    .header_text-1024px{
        display: block;
    }

    .header_text{
        display: none;
    }
    .calc_btn{
        border: 3px solid #65da0f;
    }

    .header_up{
        text-align: left;
        font-size: 67px;
        margin-bottom: 50px;
        margin-left: 0px;
    }
    .header_up strong{
        text-decoration: underline;
        text-decoration-color: #65da0f;
        text-underline-offset: 15px;
    }
    .bottom{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
    }
    .bottom_text-down{
        margin: 0;
    }
    .bottom-btn-biggest{
        height: 82px;
        width: 370px;
        font-size: 35px;
        padding: 2px 25px 0px 22px;
        margin: 0;
        letter-spacing: normal;
    }
    .btn_img{
        transform: scale(1);
    }
    .btn_img img{
        padding-top: 5px;
    }
    .calc_title-top{
        font-size: 69px;
    }
    .calc_desc-top{
        font-size: 35px;
        margin-bottom: 48px;
    }
    .calc_wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 150px;
    }
    .calc{
        margin: 0;
        width: 517px;
        padding: 35px 31px;
    }

    .calc_bottom{
        text-align: right;
    }
    .calc_title{
        font-size: 62.5px;
     }
    .calc_desc {
        font-size: 35.5px;
    }
    .calc_name{
        font-size: 32px;
        padding: 12px 0px 0px 0;
        max-width: 200px;
        width: 100%;
    }
    .calc_btn{
        font-size: 32px;
    }

    .calc_price-text {
        font-size: 18px;
        padding-bottom: 5px;
    }
    .info-text{
        font-size: 23.8px;
        margin-bottom: 40px;
    }
    .small-btn{
        margin-top: 10px;
        font-size: 28px;
        letter-spacing: normal;
        padding: 13px 50px 9px 47px;
        max-width: 383px;
        width: 100%;
    }
    .btn_img{
        transform: scale(0.95);
    }
    .btn_img img{
        padding-bottom: 0;
    }
    .calc_bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0;
    }
    .more_info-title{
        font-size: 67px;
        margin-bottom: 60px;
    }
    .question_name{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .question_desc{
        font-size: 29.4px;
    }
    .question{
        margin-bottom: 70px;
    }
}